/* Foot.css */

.footer {
    background-color: #0e1419; /* Light background color */
    color: #ffffff; /* Text color */
    text-align: center; /* Center align text */
    position: fixed; /* Fixed position at the bottom */
    left: 0; /* Position from left edge */
    bottom: 0; /* Position from bottom edge */
    width: 100%;
     /* Full width */
  }
  
  .footer-text {
    margin: 0; /* Remove default margin */
    font-size: 1rem; /* Text font size */
  }
  
  .phone-number {
    font-weight: bold; /* Bold font weight */
    color: #ec3232; /* Phone number color */
  }
  