/* Articles.css */

.articles-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-body {
    background-color: #f0f9ff;
    border-radius: 10px 10px 0 0;
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5rem;
    color: #343a40;
  }
  
  .card-text {
    font-size: 1rem;
    color: #495057;
  }
  
  .custom-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background: linear-gradient(45deg, #5c9de7 0%, #221419 100%);
    border: none;
    border-radius: 5px;
    text-align: center;
    transition: background 0.3s, transform 0.3s;
    cursor: pointer;
  }
  
  .custom-btn:hover {
    background: linear-gradient(45deg, #92566b 0%, #78d1f8 100%);
    transform: scale(1.1);
  }
  
  .read-more-icon {
    color: #fff;
    font-size: 1.5rem;
  }
  
  .card-footer {
    background-color: #f0f9ff;
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding: 10px;
  }
  
  @media (max-width: 768px) {
    .card-title {
      font-size: 1.2rem;
    }
  
    .card-text {
      font-size: 0.9rem;
    }
  
    .custom-btn {
      font-size: 0.9rem;
      padding: 0.4rem 0.8rem;
    }
  
    .read-more-icon {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 576px) {
    .card-title {
      font-size: 1rem;
    }
  
    .card-text {
      font-size: 0.8rem;
    }
  
    .custom-btn {
      font-size: 0.8rem;
      padding: 0.3rem 0.6rem;
    }
  
    .read-more-icon {
      font-size: 1rem;
    }
  }
  